<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954554218455-ids0d761aa5atqg35j8n4dlk1s9q83pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954554218455-ids0d761aa5atqg35j8n4dlk1s9q83pf</string>
	<key>API_KEY</key>
	<string>AIzaSyCzOLDSTx9xtre-4eA8JE6jRBLvYGNqSuA</string>
	<key>GCM_SENDER_ID</key>
	<string>954554218455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kanbanBoard</string>
	<key>PROJECT_ID</key>
	<string>kanban-board-d</string>
	<key>STORAGE_BUCKET</key>
	<string>kanban-board-d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954554218455:ios:b50d5611f627725ef03d92</string>
</dict>
</plist>